body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
    background-color: rgb(73, 73, 73);
}

#nav {
    color: rgb(201, 201, 201);
    height: 8vh;
    width: 100vw;
    background-color: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    padding-right: 20px;
    margin-top: 0 auto;
    font-weight: 600;
    font-size: 45px;
    margin-left: 20px;
}

#menu {
    width : 8.5vw;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#signin {
    font-size: 25px;
}

#welcome {
    display: flexbox;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}

#ment {
    margin: 0 auto;
    font-size: 110px;
    color: rgb(201, 201, 201);
}

#ment2 {
    margin: 0 auto;
    font-size: 45px;
    color: rgb(201, 201, 201);
    margin-top: -20px;
}

#go {
    transition: 0.2s;
    font-size: 40px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(201, 201, 201);
    color: rgb(53, 53, 53);
    border-radius: 15px;
    font-weight: 600;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

#go:hover {
    transition: 0.2s;
    scale: 1.1;
}