body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
    background-color: rgb(26, 26, 26);
    scrollbar-width: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

#nav {
    color: rgb(201, 201, 201);
    height: 8vh;
    width: 100vw;
    background-color: rgb(14, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    padding-right: 20px;
    margin-top: 0 auto;
    font-weight: 600;
    font-size: 45px;
    margin-left: 20px;
    background-image: linear-gradient(to bottom, #ffffff, #999999);
    background-clip: text;
    color: transparent;
}

#menu {
    width : 8.5vw;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#signin {
    font-size: 25px;
}

#welcome {
    display: flexbox;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}

#ment {
    margin: 0 auto;
    font-size: 110px;
    color: rgb(201, 201, 201);
    background-image: linear-gradient(to bottom, #ffffff, #999999);
    background-clip: text;
    color: transparent;
}

#ment2 {
    margin: 0 auto;
    font-size: 45px;
    color: rgb(201, 201, 201);
    margin-top: -20px;
}

#go {
    transition: 0.2s;
    font-size: 40px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(201, 201, 201);
    color: rgb(53, 53, 53);
    border-radius: 15px;
    font-weight: 600;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

#go:hover {
    transition: 0.2s;
    scale: 1.1;
}

#exbox {
    margin-top: 370px;
    color: rgb(201, 201, 201);
}

#tlogo {
    width : 45px;
    height: 45px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: -10px;
}

#boxbox {
    display: flex;
}

#ex1 {
    font-size: 50px;
}

#ex2 {
    font-size: 50px;
}

#ex3 {
    font-size: 50px;
}

#eb1 {
    margin-left: 100px;
    margin-bottom: 150px;
}

#eb2 {
    text-align: right;
    margin-right: 100px;
    margin-bottom: 150px;
}

#eb3 {
    margin-left: 100px;
    margin-bottom: 150px;
}