body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
    background-color: rgb(26, 26, 26);
    scrollbar-width: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

#nav {
    color: rgb(201, 201, 201);
    height: 8vh;
    width: 100vw;
    background-color: rgb(14, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    padding-right: 20px;
    margin-top: 0 auto;
    font-weight: 600;
    font-size: 45px;
    margin-left: 20px;
    background-image: linear-gradient(to bottom, #ffffff, #999999);
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

#menu {
    width : 8.5vw;
    margin: 30px;
    cursor: pointer;
}

#signin {
    transition: 0.2s;
    cursor: pointer;
    font-size: 25px;
}

#signin:hover{
    transition: 0.2s;
    scale: 1.05;
    font-weight: 600;
}

#signup {
    transition: 0.2s;
    cursor: pointer;
    font-size: 25px;
}

#signup:hover{
    transition: 0.2s;
    scale: 1.05;
    font-weight: 600;
}


#welcome {
    display: flexbox;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}

#ment {
    margin: 0 auto;
    font-size: 110px;
    color: rgb(201, 201, 201);
    background-image: linear-gradient(to bottom, #ffffff, #999999);
    background-clip: text;
    color: transparent;
}

#ment2 {
    margin: 0 auto;
    font-size: 45px;
    color: rgb(201, 201, 201);
    margin-top: -20px;
}

#go {
    transition: 0.2s;
    font-size: 40px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(201, 201, 201);
    color: rgb(53, 53, 53);
    border-radius: 10px;
    font-weight: 600;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

#go:hover {
    transition: 0.2s;
    scale: 1.05;
    box-shadow: 0 0px  10px 1px rgba(255, 255, 255, 0.8);
}

#exbox {
    margin-top: 370px;
    color: rgb(201, 201, 201);
}

#tlogo {
    width : 45px;
    height: 45px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: -10px;
}

#boxbox {
    display: flex;
}

#ex1 {
    font-size: 50px;
}

#ex2 {
    font-size: 50px;
}

#ex3 {
    font-size: 50px;
}

#eb1 {
    margin-left: 100px;
    margin-bottom: 150px;
}

#eb2 {
    text-align: right;
    margin-right: 100px;
    margin-bottom: 150px;
}

#eb3 {
    margin-left: 100px;
    margin-bottom: 150px;
}

#go2 {
    transition: 0.2s;
    font-size: 50px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(201, 201, 201);
    color: rgb(53, 53, 53);
    border-radius: 10px;
    font-weight: 600;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

#go2:hover {
    transition: 0.2s;
    scale: 1.05;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
}

#butt {
    text-align: right;
    margin-right: 400px;
    margin-top: -550px;
    margin-bottom: 300px;
}

#logbox {
    width: 50vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(14, 14, 14);
    text-align: center;
    border-radius: 30px;
}

#llogo {
    margin-top: 80px;
    width: 100px;
    height: 100px;
}

#lint {
    color: rgb(168, 168, 168);
    font-size: 50px;
    font-weight: 600;
}

#inpb {
    margin-top: 50px;
    width: 50vw;
    display: block;
    align-items: center;
}

#ipid {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    outline: none !important;
    border: none;

}

#ipid:focus {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
}

#ipid2 {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    outline: none !important;
    border: none;

}

#ipid2:focus {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
}

#ipem {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    outline: none !important;
    border: none;

}

#ipem:focus {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
}



#ippw {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    border: none;
    outline: none !important;
    padding: 10px;
    border-radius: 5px;
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
}

#ippw:focus {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
}

#ippw2 {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    border: none;
    outline: none !important;
    padding: 10px;
    border-radius: 5px;
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
}

#ippw2:focus {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
}

#ippw3 {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    border: none;
    outline: none !important;
    padding: 10px;
    border-radius: 5px;
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
}

#ippw3:focus {
    width: 30vw;
    font-size: 30px;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px; 
    color : rgb(14, 14, 14);
    background-color: rgb(201, 201, 201);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
}

#golg {
    transition: 0.2s;
    font-size: 30px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(201, 201, 201);
    color: rgb(53, 53, 53);
    border-radius: 8px;
    font-weight: 600;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

#golg:hover {
    transition: 0.2s;
    scale: 1.05;
}

#golg2 {
    transition: 0.2s;
    font-size: 30px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(201, 201, 201);
    color: rgb(53, 53, 53);
    border-radius: 8px;
    font-weight: 600;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

#golg2:hover {
    transition: 0.2s;
    scale: 1.05;
}

.error {
    border: solid !important;
    border-color: red !important;
    animation: shake 0.3s;
}

#v1 {
    display: flex;
}

video {
    margin-left: 300px;
    height: 500px;
}

#userMenu {
    background-color: rgb(20, 20, 20);
    color: rgb(196, 0, 0);
    width: 15vw;
    margin-left: auto;
    text-align: center;
    padding: 0px;
    height: 0px;
    font-size: 0px;
    transition: 0.3s;
    cursor: pointer;
}

#postContent {
    resize: none;
    width: 30vw;
    height: auto;
    font-size: 2vh;
    padding: 1.5vh;
    background-color:rgb(49, 49, 49);
    border: none;
    color: rgb(201, 201, 201);
    outline: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    border-radius: 10px;
    margin-top: 5vh;
    display: inline-block;
}

#enters {
    width: 40vw;
    margin: 0 auto;
    text-align: center;
}

#postBtn {
    height: 3vh;
    width: 20vw;
    display: inline-block;
    background-color: rgb(92, 92, 92);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    color: rgb(201, 201, 201);
}

#postBtn:hover {
    transition: 0.2s;
    width: 22vw;
    background-color: rgb(201, 201, 201);
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #929292;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #535353;
  border-radius: 10px;
  border: 2px solid #535353;
}
::-webkit-scrollbar-thumb:hover {
  background: #383838;
}

#postList {
    margin-top: 10vh;
}

#wt {
    color: rgb(201, 201, 201);
    text-align: center;
    font-size: 4vh;
    font-weight: 500;
    margin-top: 5vh;
}